.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.heading h1 {
  font: bold 13vw Sans-Serif;
  padding: 20px 0;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.heading p {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.fadein-enter {
  opacity: 0.01;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-leave {
  opacity: 1;
}

.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fadein-appear {
  opacity: 0.01;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* Animations for the text */
/* .fadein-enter-active {
  transition: all 0.8s ease;
}

.fadein-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.fadein-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.fadein-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
} */
