.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  width: 100vw;
}

.menu p {
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.menu p:hover {
  text-decoration: underline;
}
